server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  config:
    activate:
      on-profile: test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  docker:
    compose:
      enabled: true
      file: docker-compose.yml
      skip:
        in-tests: false


jwt:
  secret: your-super-secret-key-must-be-at-least-256-bits-long-for-hmac-sha256
  token-expire-time: 3600000